{% extends 'base.html' %}
{% block content %}

<h1>Battle Summary</h1>

<h3>  Winner: <a class="poke_link" href="/profiles/{{battle_details['winner_id']}}">{{battle_details['winner_username']}}</a></h3>
<h3>  Loser: <a class="poke_link" href="/profiles/{{battle_details['loser_id']}}">{{battle_details['loser_username']}}</a></h3>

<table class="table text-left align-middle">
    <thead>
        <tr>
            <th scope="col">Round&nbsp;#</th>
            <th scope="col">{{battle_details['winner_username']}}'s Pokémon</th>
            <th scope="col">{{battle_details['loser_username']}}s's Pokémon</th>
        </tr>
    </thead>
    <tbody>
        {% for round in battle_details["round_info"] %}
        <tr>
            <th scope="row">{{round["round_num"]}}</th>
            <td>
                <a class="text-decoration-none" href="{{url_for('pokeSearchPage',pokemon_id=round['winner_pokemon_id'])}}">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{round['winner_pokemon_id']}}.png"
                        style="width:90px" data-html="true" data-bs-toggle="tooltip" data-bs-title="{{round['winner_pokemon_name']}}" alt=""
                        data-bs-custom-class="custom-tooltip">
                </a>
                <p style="margin:0"><b>Name:</b></p>
                <p style="margin:0">{{round["winner_pokemon_name"].title()}}</p>
                <p style="margin:0"><b>PokéScore:</b></p>
                <p style="margin:0">{{round["winner_pokemon"].pokescore}}</p>
                <p style="margin:0"><b>Type:</b></p>
                <p style="margin:0">{{round["winner_pokemon"].pokemon_type}}</p>
                <p style="margin:0"><b>Type Attack Multiplier:</b></p>
                <p style="margin:0">{{round["winner_pokemon_attack_mult"]}}</p>
                {%if round["winner_won_round"]==1 %}
                <p style="margin:0" class="text-danger"><b>Winner</b></p>
                {% else %}
                <p style="margin:0" class="text-secondary"><b>Loser</b></p>
                {% endif %}
            </td>
            <td>
                <a class="text-decoration-none" href="{{url_for('pokeSearchPage',pokemon_id=round['loser_pokemon_id'])}}">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{round['loser_pokemon_id']}}.png"
                        style="width:90px" data-bs-toggle="tooltip" data-bs-title="{{round['loser_pokemon_name']}}" alt=""
                        data-bs-custom-class="custom-tooltip">
                </a>
                <p style="margin:0"><b>Name:</b></p>
                <p style="margin:0">{{round["loser_pokemon_name"].title()}}</p>
                <p style="margin:0"><b>PokéScore:</b></p>
                <p style="margin:0">{{round["loser_pokemon"].pokescore}}</p>
                <p style="margin:0"><b>Type:</b></p>
                <p style="margin:0">{{round["loser_pokemon"].pokemon_type}}</p>
                <p style="margin:0"><b>Type Attack Multiplier:</b></p>
                <p style="margin:0">{{round["loser_pokemon_attack_mult"]}}</p>
                {%if round["winner_won_round"]==0 %}
                <p style="margin:0" class="text-danger"><b>Winner</b></p>
                {% else %}
                <p style="margin:0" class="text-secondary"><b>Loser</b></p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </tbody>

</table>


{% endblock %}