{% extends 'base.html' %}
{% block content %}

<h1>My Pr<img id="pball" src="{{ url_for('static', filename='pokeball.png') }}"
        alt="Pokeball from 'https://www.freepnglogos.com/uploads/pokeball-png/pokeball-pokemon-theme-team-ideas-for-pokemon-sun-and-moon-24.png'">file</h1>
<h2>Welcome <b> {{current_user.username}}</b>!</h2>

{% if form %}
<!-- <form method="POST">
    
    {{ form.hidden_tag() }}
    {{ form.pokemon_name(class='form-control',placeholder='Enter Pokemon Name')}}
    <br>
    <div class="text-center">{{ form.submit(class='btn btn-danger text-center') }}</div>
</form> -->
{% endif %}

{% if poke_results_group %}
<h3>Here are your pokemon...</h3>
<div class="multicard-display">
{% for poke_results in poke_results_group %}

{% include 'poke_card.html' %}

{% endfor %}
</div>
{% endif %}
<br><br>
<h3>Your Info</h3>
<p><b>Username</b>: {{current_user.username}}</p>
<p><b>First Name</b>: {{current_user.first_name}}</p>
<p><b>Last Name</b>: {{current_user.last_name}}</p>
<p><b>Email</b>: {{current_user.email}}</p>
<br><br>
<a href="{{url_for('auth.updateProfilePage')}}" class="text-decoration-none"><div class="profile-button"><p>Edit Profile</p></div></a>
<br><br>
<a href="/shuffleroster" class="text-decoration-none"><div class="profile-button"><p>Shuffle Roster</p></div></a>
<br><br>

<button type="button" class="profile-button btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteAccountModal">
    Delete Account
</button>

<div class="modal fade" id="DeleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href = "/deleteaccount" type="button" class="btn btn-danger">Delete Account</a>
            </div>
        </div>
    </div>
</div>


<br><br>


{% endblock %} 