{% extends 'base.html' %}
{% block content %}

<!-- My Profile Header -->
<h1>My Pr<img id="pball" src="{{ url_for('static', filename='pokeball.png') }}"
        alt="Pokeball from 'https://www.freepnglogos.com/uploads/pokeball-png/pokeball-pokemon-theme-team-ideas-for-pokemon-sun-and-moon-24.png'">file</h1>
<h3>Welcome <b> {{current_user.username}}</b>!</h3>
<br>

<h1>Pokemon</h1>
<!-- Not Full Roster Warning -->
{% if poke_results_group %}
{% if not current_user.rosterFull() %}
<p>Your roster is not full. A full roster consists of 5 pokemon, you will be unable to battle pokemon until your roster is full</p>
<p>Head on over to <a class="poke_link" href="/pokesearch">Poke Search</a> to look up specific pokemon to add to your team or hit the button below to add random pokemon</p>
<div class="text-center">
    <a href="/addrandompokemon" class="btn btn-primary">Add Random Pokemon To Team</a>
</div>
<br>
{% endif %}


<!-- PokeScore -->
<h3>Roster PokeScore: {{PokeScore_info["my_PokeScore"]}}</h3>
{%if PokeScore_info["above_PokeScore_max"]%}
<p class="text-danger">You are above PokeScore threshold of {{PokeScore_info["PokeScore_max"]}} by {{PokeScore_info["above_PokeScore_max_amount"]}}, 
    please lower you score by changing up your roster so that you may be eligible to battle</p> 
{% endif %}


<!-- Show Pokemon Cards Section -->
<h3>Here are your pokemon...</h3>
<div class="multicard-display">
{% for poke_results in poke_results_group %}

{% include 'poke_card.html' %}

{% endfor %}
</div>
{% endif %}


<!-- Battles Section -->
<br>
<h1>Battles</h1>

<!-- Battle Record -->
<h3>Your Battle Record</h3>
<h5>Wins: {{current_user.battle_win_count}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Losses:
    {{current_user.battle_loss_count}}</h5>
<br>

<!-- Open Battle Requests Sent To You -->
<h3>Open Battle Requests Sent To You</h3>
{% if current_user.challenges_as_challengee %}
<table class="table text-center align-middle">
    <thead>
        <th scope="col">Challenger Username</th>
        <th scope="col">Accept Battle Request</th>
        <th scope="col">Reject Battle Request</th>
    </thead>
    <tbody>
        {%for challenge in current_user.challenges_as_challengee %}
        <tr>
            <td><a class="poke_link" href="/profiles/{{challenge.challenger_id}}">{{challenge.challenger.username}}</td></a>
            <td><a href="/acceptchallenge/{{challenge.id}}" class="btn btn-success" style="margin:5px;font-size:small">Accept Battle Request</a></td>
            <td><a href="/cancelchallenge/{{challenge.id}}" class="btn btn-secondary" style="margin:5px;font-size:small">Reject Battle Request</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have no invites to battle</p>
{% endif %}
<br>

<!-- Open Battle Requests You've Sent Out -->
<h3>Open Battle Requests You've Sent Out</h3>
{% if current_user.challenges_as_challenger %}
<table class="table text-center align-middle">
    <thead>
        <th scope="col">Challengee Username</th>
        <th scope="col">Cancel Battle Request</th>
    </thead>
    <tbody>
        {%for challenge in current_user.challenges_as_challenger %}
        <tr>
            <td><a class="poke_link" href="/profiles/{{challenge.challengee_id}}">{{challenge.challenger.username}}</td></a>
            <td><a href="/cancelchallenge/{{challenge.id}}" class="btn btn-secondary" style="margin:5px;font-size:small">Cancel Battle Request</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>There are no open battle invites you have sent out</p>
{% endif %}
<br>

<!-- Battles You've Won -->
<h3>Battles You've Won</h3>
{% if current_user.battles_won %}

<table class="table text-center align-middle">
    <thead>
        <tr>
            <th scope="col">Battle ID</th>
            <th scope="col">Won against</th>
        </tr>
    </thead>
    <tbody>
        {% for battle in current_user.battles_won %}
        <tr>
            <td><a class="poke_link" href="/battle/{{battle.id}}">{{battle.id}}</a></td>
            <td><a class="poke_link" href="/profiles/{{battle.loser_id}}">{{battle.loser.username}}</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% else %}
<p>You have not won any battles</p>
{% endif %}
<br><br>

<!-- Battles You've Lost -->
<h3>Battles You've Lost</h3>
{% if current_user.battles_lost %}
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Battle ID</th>
            <th scope="col">Lost against</th>
        </tr>
    </thead>
    <tbody>
        {% for battle in current_user.battles_lost %}
        <tr>
            <td><a class="poke_link" href="/battle/{{battle.id}}">{{battle.id}}</a></td>
            <td><a class="poke_link" href="/profiles/{{battle.winner_id}}">{{battle.winner.username}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have not lost any battles</p>
{% endif %}
<br>


<!-- User Info Section -->
<h1>Your User Info</h1>
<p><b>Username</b>: {{current_user.username}}</p>
<p><b>First Name</b>: {{current_user.first_name}}</p>
<p><b>Last Name</b>: {{current_user.last_name}}</p>
<p><b>Email</b>: {{current_user.email}}</p>
<br><br><br>

<!-- Profile Buttons (ShuffleRoster,EditProfile,DeleteAccount) -->
<div class="profile-button-holder">
<a href="/shuffleroster" class="text-decoration-none profile-button"><p>Shuffle Roster</p></a>

<a href="{{url_for('auth.updateProfilePage')}}" class="profile-button text-decoration-none"><p>Edit Profile</p></a>

<button type="button" class="profile-button btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteAccountModal">
    Delete Account
</button>
</div>


<!-- Modal for deleting account -->
<div class="modal fade" id="DeleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href = "/deleteaccount" type="button" class="btn btn-danger">Delete Account</a>
            </div>
        </div>
    </div>
</div>

<br><br>

{% endblock %} 