{% extends 'base.html' %}
{% block content %}

<h1>P<img id = "pball" src="{{ url_for('static', filename='pokeball.png') }}" alt="Pokeball from 'https://www.freepnglogos.com/uploads/pokeball-png/pokeball-pokemon-theme-team-ideas-for-pokemon-sun-and-moon-24.png'">kéSearch</h1>
<p>Welcome to PokéSearch!</p>
<p>Type names of Pokémon to get some of their stats!</p>


<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.pokemon_name(class='form-control',placeholder='Enter Pokémon Name')}}
    <br>
    <div class="text-center">{{ form.submit(class='btn btn-danger text-center') }}</div>
    
</form>
<br>

{% if not_valid_pokemon %}
<p>Sorry, "{{not_valid_pokemon}}" is not a valid Pokémon</p>
{% endif %}
{% if pokeguess %}
<p>Did you mean to type "<a class = "poke_link" href="{{url_for('pokeSearchPage',pokemon_id=pokeguess[1])}}">{{pokeguess[0]}}</a>"?</p>

{% endif %}
{% if not_valid_form %}
<p>You submitted an invalid form, please try again</p>
{% endif %}

{% if poke_results %}

{% include 'poke_card.html' %}

<br>

{% endif %}


{% endblock %}