{% extends 'base.html' %}
{% block content %}

<h1>{{username}}'s Pr<img id="pball" src="{{ url_for('static', filename='pokeball.png') }}"
        alt="Pokeball from 'https://www.freepnglogos.com/uploads/pokeball-png/pokeball-pokemon-theme-team-ideas-for-pokemon-sun-and-moon-24.png'">file
</h1>

<br>

{% if poke_results_group %}
<h3>Here are {{username}}'s pokemon!</h3>
<div class="multicard-display">
    {% for poke_results in poke_results_group %}
    {% include 'poke_card.html' %}
    {% endfor %}
</div>
{% endif %}


{% endblock %}