{% extends 'base.html' %}
{% block content %}

<h1>Pr<img id="pball" src="{{ url_for('static', filename='pokeball.png') }}"
        alt="Pokeball from 'https://www.freepnglogos.com/uploads/pokeball-png/pokeball-pokemon-theme-team-ideas-for-pokemon-sun-and-moon-24.png'">file Explorer
</h1>

<br>

<div class="multicard-display" style="justify-items: start;">
{% for user in all_users %}
{% if user != current_user %}

<div class="card profile-explore-card" style="align-items: start;">
    <div class="card-body">
        <h5 class="text-center"><a class="poke_link" href="{{url_for('showProfile',user_id=user.id)}}">{{user.username}}</a></h3>
        
            <p style="margin-bottom:0;"><b>Wins</b>: <span style="float:right;">{{user.battle_win_count}}</span></p>
            <p style="margin-bottom:0;"><b>Losses</b>: <span style="float:right;">{{user.battle_loss_count}}</span></p>
            <p style="margin-bottom: 0;"> <b>Current Roster...</b> </p>
            <div class="flex justify-content:space-around">
            {% for pokemon in user.getRosterNumsAndNames() %}
            
            <a class="text-decoration-none" href="{{url_for('pokeSearchPage',pokemon_id=pokemon[0])}}">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon[0]}}.png"
                    style="width:50px" data-bs-toggle="tooltip" data-bs-title="{{pokemon[1]}}" alt=""
                    data-bs-custom-class="custom-tooltip">
            </a>
            {% endfor %}
            </div>
            {% if user in my_challengers %}
            <div class="text-center"><a href="/acceptchallenge/{{my_challengers[user].id}}" class="btn btn-success" style="margin:5px;font-size:small">Accept Battle Request</a></div>
            <div class="text-center"><a href="/cancelchallenge/{{my_challengers[user].id}}" class="btn btn-secondary"style="margin:5px;font-size:small">Reject Battle Request</a></div>
            
            {% elif user in my_challengees %}
            <div class="text-center"><a href="/cancelchallenge/{{my_challengees[user].id}}" class="btn btn-secondary" style="margin:5px;font-size:small">Cancel Request</a></div>
            {% else %}
            <div class="text-center"><a href="/challenge/{{user.id}}" class="btn btn-success" style="margin:5px;font-size:small">Challenge To Battle</a></div>
            {% endif %}


            {% for battle_request in BattleRequests.battleRequestPair(current_user.id,user.id) %}
            {% endfor %}


        
    </div>

</div>
{% endif %}
{% endfor %}
</div>


<!-- {% if poke_results_group %}
<h3>Here are {{username}}'s pokemon!</h3>
<div class="multicard-display">
    {% for poke_results in poke_results_group %}
    <div class="card-holder">
        <div class="card" style="width: 18rem;">
            <img src="{{poke_results['photo']}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>{{poke_results['name']}}</b> <small>(#{{poke_results['poke_id']}})</small>
                </h5>
                <p class="card-text card-stats">Ability: <span style="float:right">{{poke_results['ability']}}</span>
                </p>
                <p class="card-text card-stats">Base Experience: <span style="float:right">{{poke_results['base
                        experience']}}</span></p>
                <p class="card-text card-stats">Attack Base Stat: <span style="float:right">{{poke_results['attack base
                        stat']}}</span></p>
                <p class="card-text card-stats">Defense Base Stat: <span style="float:right">{{poke_results['defense
                        stat']}}</span></p>
                <p class="card-text card-stats">HP Base Stat: <span style="float:right">{{poke_results['hp base
                        stat']}}</span></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %} -->


{% endblock %}